@font-face {
  font-family: futuramaTitle;
  src: url('./fonts/fr-title.ttf');
}
@font-face {
  font-family: futuramaBold;
  src: url('./fonts/fr-bold.ttf');
}

:root {
  --primaryTextColor: #daf3caa5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: futuramaBold;
}

button {
  font-family: futuramaBold;
  padding: 1.05rem 2rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(78, 56, 99, 0.459);
  color: var(--primaryTextColor);
  transition: 150ms;
}

button:hover {
  scale: 1.1;
  background-color: rgba(78, 56, 99, 0.632);
}

.header1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header1 > h1 {
  font-size: 5rem;
  margin: 0;
}

.header1 > p {
  font-family: futuramaTitle;
}

body {
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
  background-image: url(./images/bender-god-nebula.webp);
  background-size: cover;
  background-position: center center;
  color: var(--primaryTextColor);
  /* background-color: #ade2d0ff; */
}

.flex-container {
  display: flex;
  width: clamp(80%, 1200px, 100%);
  gap: clamp(1rem, 2.5rem, 3rem);
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.player-one-container,
.player-two-container {
  background-color: rgba(78, 56, 99, 0.228);
  box-shadow: -2px 2px 10px rgb(18, 12, 11);
  flex: 1;
  max-width: 350px;
  height: 500px;
  border-radius: 1rem;
}

.player-one-container > h2,
.player-two-container > h2 {
  font-family: futuramaTitle;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--primaryTextColor);
  width: 70%;
  margin: 1rem auto auto auto;
}

.game-board-grid {
  height: 550px;
  width: 550px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.piece {
  height: 150px;
  width: 150px;
  /* background-color: rgba(255, 99, 72, 0.75); */
  background-color: rgba(75, 41, 123, 0.575);
  border-radius: 0.25rem;
  box-shadow: -2px 2px 10px rgb(18, 12, 11);
  display: grid;
  place-items: center;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.player-img {
  height: 125px;
  transform: translateZ(55px);
  filter: drop-shadow(-20px 20px 5px rgba(0, 0, 0, 0.5));
}

.hidden {
  display: none;
}

.no-click {
  pointer-events: none;
}

@media screen and (max-width: 1250px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .player-one-container,
  .player-two-container {
    width: 100%;
  }

  .player-one-container > h2,
  .player-two-container > h2 {
    border-bottom: none;
  }
}
